<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>CFBundleExecutable</key>
    <string>${EXECUTABLE_NAME}</string>
    <key>CFBundleIconFile</key>
    <string></string>
    <key>CFBundleIdentifier</key>
    <string>com.ixox.Preenfm2Editor</string>
    <key>CFBundleName</key>
    <string>pfm2Editor</string>
    <key>CFBundleDisplayName</key>
    <string>pfm2Editor</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleShortVersionString</key>
    <string>2.11.2</string>
    <key>CFBundleVersion</key>
    <string>2.11.2</string>
    <key>NSHumanReadableCopyright</key>
    <string></string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>AudioComponents</key>
    <array>
      <dict>
        <key>name</key>
        <string>Ixox: Preenfm2 Editor</string>
        <key>description</key>
        <string>PreenFM2 patch editor</string>
        <key>factoryFunction</key>
        <string>pfm2Factory</string>
        <key>manufacturer</key>
        <string>Ixox</string>
        <key>type</key>
        <string>aumu</string>
        <key>subtype</key>
        <string>IxP2</string>
        <key>version</key>
        <integer>133890</integer>
        <key>resourceUsage</key>
        <dict>
          <key>network.client</key>
          <true/>
          <key>temporary-exception.files.all.read-write</key>
          <true/>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
